.contact {
  min-height: 84vh;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--bg-main);
}

.contact-btn {
  position: relative;
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: 8px;

  text-decoration: none;
  color: var(--text-main);

  transition: background-color 0.2s ease,
    border-color 0.2s ease;
}

/* hover */
.contact-btn:hover {
  background-color: rgba(91, 140, 255, 0.15);
  /* #5b8cff */
  border-color: var(--accent);
}


/* ліва іконка */
.contact-btn .icon {
  position: absolute;
  left: 16px;
  font-size: 1.1rem;
}

/* текст по центру */
.contact-btn .label {
  font-size: 1rem;
  font-weight: 500;
}

/* три точки справа */
.contact-btn .dots {
  position: absolute;
  right: 16px;
  font-size: 1.2rem;
  color: var(--text-muted);
}

.profile{
margin: 0 auto;
text-align: center;
}

.img_Profile{
width: 100px;
 border-radius: 100%;
}
