
<footer>
    <div class="footer-copyright">
        <p data-i18n="footer.text">&copy; 2026 Всі права захищені.</p>
    </div>
    <nav class="footer-links">
        <a data-i18n="footer.privacy-policy" href="pages/legal/privacy-policy.html">Політика конфіденційності</a> |
        <a data-i18n="footer.terms" href="pages/legal/terms.html">Умови використання</a> |
        <a data-i18n="footer.copyright" href="pages/legal/copyright.html">Авторські права</a> |
        <a data-i18n="footer.contact" href="contact.html">Контакти</a>
    </nav>
</footer>