/* Скидання всіх стилів браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
}