h1,
h2,
h3,
h4 {
    color: #5b8cff;
    margin-top: 1em;
}

hr {
    border: 1px solid #5b8cff;
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
  
}

p {
    margin: 10px 0;
}

code {
    background-color: #141414;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}

.copyright {
  min-height: 84vh;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--bg-main);
}